.about-hero {
    background-image: url("../img/photos/man-in-orange-rainclothes.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 36.73vh;
}

.about-info .text-box {
    max-width: 886px;
}
.about-info .content-wrapper {
    max-width: 600px;
}

.bottom-images-section {
    height: 100vh;
}
.bottom-images-section div {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}


@media screen and (min-width: 768px) {
    .about-hero {
        height: 50vh;
    }
    
}


@media screen and (min-width: 992px) {
    .about-hero {
        min-height: 100vh;
    }

    .about-info {
        /* background-image: url(/resources/img/decor/grey-large-link.svg); */
        background-size: cover;
        background-position: 100% 100%;
        min-height: 100vh;
    }

    .large-link {
        /* top: -15px; */
        right: 40px;
    }

    .diamond-img-column, .history-column {
        max-width: 45%;
    }

    .bottom-images-section {
        height: 543px;
    }
    
}


@media screen and (min-width: 1500px) {
    .large-link {
        min-width: 100vw;
    }
}