.homepage-hero {
    background-color: var(--text-dark);
    max-height: 1000px; 
}

.homepage-hero .mobile-bg-image-wrapper {
    height: 37vh;
    position: relative;
}

.homepage-hero .mobile-bg-image-wrapper img:first-child {
    object-fit: cover;
}

.homepage-hero .mobile-bg-image-wrapper .position-absolute {
    z-index: 2;
    bottom: 0;
    left: 0;
    height: 250px;
}

.homepage-hero .text-container {
    margin-top: 87px;
    height: 53%;
} 

.home-header {
    top: 0;
    z-index: 200;
}

/* Temp fix images card - MB*/

.card-img, .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 257px;
}

@media screen and (min-width: 768px) {
    .homepage-hero .mobile-bg-image-wrapper {
        height: 50vh;
    }
}

@media (min-width: 995px) and (max-width: 1280px) {
    .homepage-hero h1 {
        font-size: 46px;
    }

    .homepage-hero .text-container .text-wrapper {
        max-width: 400px;
    }
}


@media screen and (min-width: 992px) {
    .homepage-hero {
        background-image: url('../img/decor/hero-blue-cover.svg'), url('../img/photos/homepage-hero.jpg');
        background-repeat: no-repeat;
        background-size: auto 100%, cover;
    }

    .homepage-hero .text-container {
        margin-top: 0;
        height: 100%;
    }

    .homepage-hero .text-container .text-wrapper {
        max-width: 530px;
    }
    .homepage-hero .text-container .text-wrapper p {
        max-width: 439px;
    }
}

@media screen  and (min-width: 1200px) {
    .homepage-hero .text-container .text-wrapper p {
        max-width: 439px;
    }
}

@media  screen and (min-width: 1700px) {
    .homepage-hero .text-container {
        max-width: 1656px;

    }
}
    