* {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

:root {
    --bg-white: #fff;
    --grey: #eef0ef;
    --light-grey: #f5f6f5;
    --dark-grey: #c8d0cd;
    --blue-grey: #8299a0;
    --orange: #f0571e;
    --peach: #fabe9b;
    --red: #aa3417;
    --blue: #00a0dc;
    --light-blue: #64d2ff;
    --dark-blue: #005078;
    --green: #32b4b9;
    --light-green: #82dcda;
    --dark-green: #148282;
    --text-dark: #1c2e49;
    --text-white: #fff;
}

body {
    background-color: var(--bg-white);
    color: var(--text-dark);
    font-size: 16px;
    line-height: 1.4;
}

section, .section-padding {
    padding: 48px 0;
}

/* Font-sizes, mobile first */
h1,
.dfs-h1 {
    font-size: 43px;
    font-weight: bold;
    line-height: 1.15;
    margin: 0 0 15px 0;
}

h2,
.dfs-h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.15;
}

h3,
.dfs-h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.15;
}

h4,
.dfs-h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.15;
}

h5,
.dfs-h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.15;
}

.meta-blue {
    color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
}

.meta-grey {
    color: var(--blue-grey);
    font-weight: bold;
    text-transform: uppercase;
}

/* Classes for background-colors */
.bg-white {
    background-color: var(--bg-white);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-dark-grey {
    background-color: var(--dark-grey);
}

.bg-blue-grey {
    background-color: var(--blue-grey);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-peach {
    background-color: var(--peach);
}

.bg-red {
    background-color: var(--red);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-light-green {
    background-color: var(--light-green);
}

.bg-dark-green {
    background-color: var(--dark-green);
}

/* Classes for text-colors */
.text-white {
    color: var(--text-white);
}
.text-dark {
    color: var(--text-dark);
}

.home-card {
    border-radius: 20px;
}
.home-card .card-body {
    border-radius: 0 0 20px 20px;
    padding: 20px 60px 40px 60px;
}
.home-card .card-title {
    max-width: 150px;
    text-align: left;
}

.btn {
    border-radius: 5px;
    background-color: var(--bg-white);
    font-size: 16px;
    font-weight: bold;
    padding: 15px 24px;
    line-height: 1;
}

.btn:hover {
    background-color: var(--dark-blue);
    color: var(--text-white);
}




@media screen and (min-width: 992px) {
    body {
        font-size: 18px;
    }

    section, .section-padding {
        padding: 98px 0;
    }

    /* Font-sizes */
    h1,
    .dfs-h1 {
        font-size: 69px;
    }

    h2,
    .dfs-h2 {
        font-size: 40px;
    }

    h3,
    .dfs-h3 {
        font-size: 32px;
    }

    h4,
    .dfs-h4 {
        font-size: 24px;
    }

    /* h5,
    .dfs-h5 {
        font-size: 16px;
        font-weight: bold;
    } */
}
