* {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

:root {
    --bg-white: #fff;
    --grey: #eef0ef;
    --light-grey: #f5f6f5;
    --dark-grey: #c8d0cd;
    --blue-grey: #8299a0;
    --orange: #f0571e;
    --peach: #fabe9b;
    --red: #aa3417;
    --blue: #00a0dc;
    --light-blue: #64d2ff;
    --dark-blue: #005078;
    --green: #32b4b9;
    --light-green: #82dcda;
    --dark-green: #148282;
    --text-dark: #1c2e49;
    --text-white: #fff;
}

body {
    background-color: var(--bg-white);
    color: var(--text-dark);
    font-size: 16px;
}

.section-padding {
    padding: 48px 12px;
}

/* Font-sizes, mobile first */
h1,
.dfs-h1 {
    font-size: 43px;
    font-weight: bold;
    line-height: 1.14;
    margin: 0 0 15px 0;
    letter-spacing: -2px;
}

h2,
.dfs-h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: -2px;
}

h3,
.dfs-h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.15;
}

h4,
.dfs-h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.15;
}

h5,
.dfs-h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.15;
}

.meta-blue {
    color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
}

.meta-grey {
    color: var(--blue-grey);
    font-weight: bold;
    text-transform: uppercase;
}

/* Classes for background-colors */
.bg-white {
    background-color: var(--bg-white);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-dark-grey {
    background-color: var(--dark-grey);
}

.bg-blue-grey {
    background-color: var(--blue-grey);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-peach {
    background-color: var(--peach);
}

.bg-red {
    background-color: var(--red);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-light-green {
    background-color: var(--light-green);
}

.bg-dark-green {
    background-color: var(--dark-green);
}

/* Classes for text-colors */
.text-white {
    color: var(--text-white);
}
.text-dark {
    color: var(--text-dark);
}

.home-card {
    border-radius: 20px;
}
.home-card .card-body {
    border-radius: 0 0 20px 20px;
    padding: 20px 60px 40px 60px;
}
.home-card .card-title {
    max-width: 140px;
    text-align: left;
}

.btn {
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    line-height: 1;
    max-width: fit-content;
}
.btn span {
    padding-left: 9px;
    padding-bottom: 3px;
}

.btn-white {
    background-color: var(--bg-white);
    color: var(--text-dark);
}
/* .btn::after {
    content: url(../img/icons/btn-arrow.svg);
    margin-left: 10px;
    padding-top: 5px;
} */

.btn-white:hover {
    background-color: var(--text-dark);
    color: var(--text-white);
}
.btn-white:hover span svg path {
    stroke: var(--text-white);
}

.floating-box  {
    border-radius: 20px;
}
.floating-box img {
    border-radius: 20px 20px 0 0;
}
.floating-box .card-body {
    border-radius: 0 0 20px 20px;
    padding: 28px 30px;
}
.floating-box .meta-blue {
    margin-bottom: 8px;
}

.carousel-item {
    padding: 0 22px;
}

.overlap-wrapper {
    min-height: 400px;
    width: 365px;
    margin: 0 auto;
}

.overlap-wrapper img {
    border-radius: 40px;
    width: 220px;
}

.bottom-left-img {
    border: 14px solid var(--grey); 
    bottom: 30px;
    left: -8px;
    border-radius: 60px;
    z-index: 20;
}

.top-right-img {
    top: 0px;
    right: 12px;
}

@media screen and (max-width: 992px) {
    .small-h1 {
        font-size: 32px;
    }
    
}

@media screen and (min-width: 992px) {
    body {
        font-size: 18px;
        margin: 0;
    }

    .section-padding {
        padding: 98px 0;
    }

    /* Font-sizes */
    h1,
    .dfs-h1 {
        font-size: 69px;
    }

    h2,
    .dfs-h2 {
        font-size: 40px;
    }

    h3,
    .dfs-h3 {
        font-size: 32px;
    }

    h4,
    .dfs-h4 {
        font-size: 24px;
    }

    /* h5,
    .dfs-h5 {
        font-size: 16px;
        font-weight: bold;
    } */

    .home-card .card-title {
        max-width: 165px;
    }

    /* .overlap-images {
        max-width: 505px !important;
    } */

    .overlap-wrapper {
        min-height: 570px;
        width: unset;
    }

    .overlap-wrapper img {
        width: 260px;
    }

    .top-right-img {
        top: 20px;
        right: 70px;
    }
    .bottom-left-img {
        top: 200px;
        left: 20px;
        border: 18px solid var(--grey); 
    }

    .floating-box-left, .floating-box-right {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding: 48px;
        border-radius: 40px;
        max-width: 460px;
    }

    .floating-box-left {
        left: 9%;
    }

    .floating-box-right {
        right: 9%;
    }

    .carousel-section {
        background-color: var(--grey);
    }
}


@media screen and (min-width: 1200px) {
    .overlap-wrapper {
        min-height: 570px;
        width: unset;
    }

    .overlap-wrapper img {
        width: 305px;
    }

    .top-right-img {
        top: 20px;
        right: 70px;
    }
    .bottom-left-img {
        top: unset;
        bottom: 30px;
        left: 0px;
    }
}

@media screen and (min-width: 1400px) {
    .top-right-img {
        top: 20px;
        right: 100px;
    }

    .bottom-left-img {
        left: 20px;
        bottom: 20px;
    }
}