* {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.1;
}

/* delete comment  */

:root {
  --bg-white: #fff;
  --grey: #eef0ef;
  --light-grey: #f5f6f5;
  --dark-grey: #c8d0cd;
  --blue-grey: #8299a0;
  --orange: #f0571e;
  --peach: #fabe9b;
  --red: #aa3417;
  --blue: #00a0dc;
  --light-blue: #64d2ff;
  --dark-blue: #1c2e49;
  --green: #32b4b9;
  --light-green: #82dcda;
  --dark-green: #148282;
  --text-black: #1c2e49;
  --text-white: #fff;
  --lighter-blue: #EDFAFF;
  --green-blue: #1180A1;
  --middle-blue: #005078;
  --sea-blue: #E6FCFF; 
}

body {
  background-color: var(--bg-white);
  color: var(--text-black);
  font-size: 16px;
  line-height: 1.4;
}

/* Font-sizes, mobile first */
h1,
.dfs-h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0 0 15px 0;
}

h2,
.dfs-h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

h3,
.dfs-h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.15;
}

h4,
.dfs-h4 {
  font-size: 18px;
  line-height: 1.15;
}

h5,
.dfs-h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.15;
}

.meta-blue {
  color: var(--blue);
  font-weight: bold;
  text-transform: uppercase;
}

.meta-grey {
  color: var(--blue-grey);
  font-weight: bold;
  text-transform: uppercase;
}

/* Classes for background-colors */
.bg-white {
  background-color: var(--bg-white);
}

.bg-light-grey {
  background-color: var(--light-grey);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-dark-grey {
  background-color: var(--dark-grey);
}

.bg-blue-grey {
  background-color: var(--blue-grey);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-peach {
  background-color: var(--peach);
}

.bg-red {
  background-color: var(--red);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-light-green {
  background-color: var(--light-green);
}

.bg-dark-green {
  background-color: var(--dark-green);
}

.bg-lighter-blue {
  background-color: var(--lighter-blue);
}

.bg-middle-blue {
  background-color: var(--middle-blue);
}

.bg-sea-blue {
  background-color: var(--sea-blue);
}


/* Classes for text-colors */
.text-white {
  color: var(--text-white);
}
.text-black {
  color: var(--text-black);
}
.text-blue {
  color: var(--blue);
}
.text-green {
  color: var(--green);
}
.text-light-blue {
  color: var(--light-blue);
}
.text-blue-green {
  color: var(--green-blue);
}
.text-light-green {
  color: var(--light-green);
}

@media screen and (min-width: 768px) {
  body {
      font-size: 18px;
      margin: 0;
  }

  /* Font-sizes */
  h1,
  .dfs-h1 {
      font-size: 56px;
  }

  h2,
  .dfs-h2 {
      font-size: 40px;
  }

  h3,
  .dfs-h3 {
      font-size: 18px;
      font-weight: bold;
  }

  h4,
  .dfs-h4 {
      font-size: 24px;
  }

  /* Custom CSS */

  .link-ship {
    top: 100px;
    left: 0;
    width: 113px;
  }

  .overlap-h3 {
    top: 120px;
  }

  .float-box {
    margin-top: -100px;
    z-index: 2;
    border-radius: 20px;
  }

  .border-rounded {
    border-radius: 20px;
  }

  .float-border {
    margin-top: -55px;
  }

  .no-show-desktop {
    display: none !important;
  }

  .burger-menu {
    top: 0;
    right: 0;
    z-index: 999999;
  }

  .mobile-menu-dfs {
    max-width: 30vw !important;
    z-index: 3000;
  }


  .backdrop {
    background: transparent !important;
    top: 0 !important;
    z-index: 3;
  }

}

  /* Mobile settings */

  @media screen and (max-width: 768px) {
    .mobile-flex-smaller {
      display: flex;
      flex-direction: column;
      width: 100vw !important;
      }
      .border-rounded {
        border-radius: 20px;
      }
      .link-ship {
        bottom: 21px;
        left: 0;
        width: 113px;
      }
      .no-show-mobile {
        display: none !important;
      }
      .float-box {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
      .info-boxes {
        width: 100%;
        padding: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 20px !important;
      }
      .info-box-mobile-wrapper {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
      .overlap-h3 {
        display: none;
      }
      .burger-menu {
        top: 0;
        right: 0;
        z-index: 999999;
      }
      .less-padding {
        padding: 20px !important;
      }
      .backdrop {
        background: transparent !important;
        top: 0 !important;
        z-index: 2;
      }
  }

  @media screen and (max-width: 1250px) {
    .mobile-flex {
      display: flex;
      flex-direction: column-reverse;
    }
    .image-width-mobile {
      width: 100% !important;
    }
    .overlap-h3 {
      top: 60px;
    }
  }

  @media screen and (min-width: 1800px) {
    .float-border {
      min-width: 100vw;
    }
    .overlap-h3 {
      top: 200px;
    }
  }