body {
    overflow-x: hidden;
}
.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1c2e49;
    opacity: 0.6;
    top: 0;
}

.list-unstyled {
    margin-top: 75px;
}

.max-width-content {
    max-width: 1456px;
    width: 100%;
}


  
@media screen and (min-width: 768px) {
    /* Custom CSS */

    .link-ship {
        top: 35px;
        left: 0;
        width: 173px;
    }

    .overlap-h3 {
        top: 92px;
    }

    .float-box {
        margin-top: -60px;
        z-index: 2;
        border-radius: 45px;
        max-width: 948px !important;
    }

    .border-rounded {
        border-radius: 45px;
    }

    .float-border {
        margin-top: -55px;
    }

    .burger-menu {
        top: 0;
        right: 0;
        z-index: 999999;
    }

    .mobile-menu-dfs {
        max-width: 30vw !important;
        z-index: 3000;
    }
    .backdrop {
        background: transparent !important;
        top: 0 !important;
        z-index: 3;
    }
    .hover-ship:hover {
        color: var(--blue) !important;
    }
    .hover-log:hover {
        color: var(--green) !important;
    }
    .hover-par:hover {
        color: var(--orange) !important;
    }
    .list-hover:hover {
        background-color: var(--grey);
    }
    .list-hover:hover a {
        color: var(--dark-blue);
    }

    .btn-green {
        background-color: #32b4b9;
        color: var(--text-white);
    }
    .btn-green:hover {
        background-color: var(--bg-white);
        color: var(--text-dark);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .btn-green:hover span svg path {
        stroke: var(--text-dark);
    }
    .hero-text-wrapper {
        top: 100px;
        left: 50%;
        right: 50%;
        white-space: nowrap;
    }

    .hero-wrapper {
        background-image: url("../img/photos/Truck.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        height: 75vh;
    }

    .btn-dark-blue {
        background-color: #1c2e49;
        color: var(--text-white);
    }
    .btn-dark-blue:hover {
        background-color: var(--bg-white);
        color: var(--text-dark);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .btn-dark-blue:hover span svg path {
        stroke: var(--text-dark);
    }
    .global-supply-wrapper {
        background-image: url("../img/photos/crossed-arms-dude-wide.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        height: 80vh;
    }
}

/* Mobile settings */

@media screen and (max-width: 768px) {

    .mobile-flex-smaller {
        display: flex;
        flex-direction: column;
        width: 100vw !important;
    }

    .mobile-flex-smaller-global {
        display: flex;
        align-items: center !important;
        justify-content: center;
        flex-direction: column;
        width: 100vw !important;
    }
    .border-rounded {
        border-radius: 20px;
    }
    .link-ship {
        bottom: 21px;
        left: 0;
        width: 113px;
    }


    .info-boxes {
        width: 100%;
        padding: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    .info-box-mobile-wrapper {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .overlap-h3 {
        display: none;
    }
    .burger-menu {
        top: 0;
        right: 0;
        z-index: 999999;
    }
    .less-padding {
        padding: 20px !important;
    }
    .backdrop {
        background: transparent !important;
        top: 0 !important;
        z-index: 2;
    }
    .btn-green {
        background-color: #32b4b9;
        color: var(--text-white);
        width: 200px;
    }
    .btn-green:hover {
        background-color: var(--bg-white);
        color: var(--text-dark);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .btn-green:hover span svg path {
        stroke: var(--text-dark);
    }
    .hero-wrapper {
        background-image: url("../img/photos/Truck.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        height: 37vh;
        width: 100vw !important;
    }
    .btn-dark-blue {
        background-color: #1c2e49;
        color: var(--text-white);
    }
    .btn-dark-blue:hover {
        background-color: var(--bg-white);
        color: var(--text-dark);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .btn-dark-blue:hover span svg path {
        stroke: var(--text-dark);
    }
    .mobile-text {
        text-align: left !important;
        width: 100% !important;
    }


}

/* 137px freight forawrding  */

@media screen and (min-width: 992px) {
    /* .float-box-prov *:not(h1) {
        max-width: 80%;
    } */
    .no-show-desktop {
        display: none !important;
    }
    .mb-lg-36px {
        margin-bottom: 36px !important;
    }

    .float-box {
        margin-top: -100px;
    }
    
    .wider {
        width: 50vw !important;
    }
    .max-width {
        max-width: 787px;
    }

}

@media screen and (min-width: 1250px) {
     .float-box-prov {
        margin-left: 200px;
    } 
}

@media screen and (max-width: 1250px) {
    .float-box-prov {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .overlap-h3 {
        top: 70px;
    }
}

@media screen and (max-width: 992px) {
    
    .no-show-mobile {
        display: none !important;
    }
    .info-box-mobile-wrapper {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .mobile-flex-smaller {
        display: flex;
        flex-direction: column;
        width: 100vw !important;
    }
    .float-box {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-top: 0px !important;
    }
    .mobile-flex {
        display: flex;
        flex-direction: column-reverse;
    }
    .image-container {
        max-height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden; 
    }
    .float-border { 
        display: none !important;
    }
    .image-container img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover; 
        object-position: top center; 
    }
    .image-width-mobile {
        width: 100% !important;
    }
    .float-box {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-top: 0px !important;
    }
    .mobile-flex-no-rev {
        display: flex;
        flex-direction: column;
    }
    .mobile-flex-smaller-prov {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw !important;
    }
    .wide-img {
        width: 100vw !important;
    }

}

@media screen and (min-width: 1000px) {
    .float-box-ship {
        margin-left: 150px;
    }
}

@media screen and (min-width: 1300px) {
    .float-box {
        margin-top: -150px;
    }
    .controll-width {
        width: 90% !important;
    }
}
@media screen and (max-width: 1400px) {
    .less-padding-os {
        padding: 10px !important;
    }
    .less-padding-os-more {
        padding: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 1800px) {
    .float-border {
        width: 85%;
    }
    .overlap-h3 {
        top: 160px;
    }
    .hero-wrapper {
        height: 75vh;
    }
    .max-width {
        max-width: 787px !important;
    }
    .controll-width {
        width: 75% !important;
    }
    .shorter-headline-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
    .shorter-headline-wrapper h2 {
       width: 75%;
    }
    .shorter-headline-wrapper p {
        width: 75%;
     }
     .shorter-headline-wrapper div {
        width: 70%;
     }
}

@media screen and (min-width: 2300px) {
    .float-border {
        width: 80%;
    }
    .overlap-h3 {
        top: 200px;
    }
    .max-width {
        max-width: 850px !important;
    }
}

@media screen and (min-width: 2700px) {
    .float-border {
        width: 85%;
    }
    
    .overlap-h3 {
        top: 280px;
    }

    .max-width {
        max-width: 1200px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .info-box-mobile-wrapper {
        padding-right: 35px;
    }
    .float-box {
        padding-left: 35px;
    }
}