/* Custom CSS for Ship Supply and its subpages */

footer .btn span {
    padding-left: 9px;
}

@media screen and (min-width: 768px) {
    .link-ship {
        top: 100px;
        left: 0;
    }

    .overlap-h3 {
        top: 120px;
    }

    .float-box {
        margin-top: -100px;
        z-index: 2;
        border-radius: 20px;
    }

    .float-box-prov {
        border-radius: 20px;
    }

    .border-rounded {
        border-radius: 20px;
    }

    .float-border {
        margin-top: -55px;
    }

  .no-show-desktop {
    display: none !important;
  }

  .burger-menu {
    top: 0;
    right: 0;
    z-index: 999999;
  }

  .mobile-menu-dfs {
    max-width: 30vw !important;
    z-index: 3000;
  }

  .backdrop {
    background: transparent !important;
    top: 0 !important;
    z-index: 3;
  }

  .no-show-desktop {
      display: none !important;
  }

  .hover-ship:hover {
    color: var(--blue) !important;
  }

  .hover-log:hover {
    color: var(--green) !important;
  }
  
  .hover-par:hover {
    color: var(--orange) !important;
  }
.btn-blue {
    background-color: #00a0dc;
    color: var(--text-white);
    }
.btn-blue:hover {
    background-color: var(--bg-white);
    color: var(--text-dark);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-blue:hover span svg path {
    stroke: var(--text-dark);
}
.list-hover:hover {
    background-color: var(--grey);
}
.list-hover:hover a {
    color: var(--dark-blue);
}
.hero-text-wrapper {
    top: 100px;
    left: 50%;
    right: 50%;
    white-space: nowrap
  }
  .hero-wrapper {
    background-image: url("../img/photos/ship-supply-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 80vh;
  }
}

@media screen and (max-width: 768px) {
    .mobile-flex-smaller {
        display: flex;
        flex-direction: column;
        width: 100vw !important;
    }
    .mobile-flex-smaller-prov {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw !important;
    }
    .border-rounded {
        border-radius: 20px;
    }
    .link-ship {
        bottom: 21px;
        left: 0;
    }
    .no-show-mobile {
        display: none !important;
    }
    .float-box {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .float-box-prov {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .info-boxes {
        width: 100%;
        padding: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    .info-box-mobile-wrapper {
        width: 100vw !important;
        box-shadow: none !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .overlap-h3 {
        display: none;
    }
    .burger-menu {
        top: 0;
        right: 0;
        z-index: 999999;
      }
      .less-padding {
        padding: 20px !important;
      }
      .backdrop {
        background: transparent !important;
        top: 0 !important;
        z-index: 2;
      }
  
    
    .less-padding {
        padding: 48px 12px !important;
    }
    .btn-blue {
        background-color: #00a0dc;
        color: var(--text-white);
        }
    .btn-blue:hover {
        background-color: var(--bg-white);
        color: var(--text-dark);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
        .btn-blue:hover span svg path {
            stroke: var(--text-dark);
        }
        .hero-wrapper {
            background-image: url("../img/photos/ship-supply-hero.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% 100%;
            height: 37vh;
            width: 100vw !important;
          }
}

@media screen and (max-width: 1250px) {
    .mobile-flex {
        display: flex;
        flex-direction: column-reverse;
    }
    .image-width-mobile {
        width: 100% !important;
    }
    .overlap-h3 {
        top: 60px;
    }
  }

  @media screen and (min-width: 1800px) {
    .float-border {
      min-width: 100vw;
    }
    .overlap-h3 {
      top: 200px;
    }
    .hero-wrapper {
        height: 100vh;
    }
  }
